@model ISGeoDatabase.Models.SubsidencePoint

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubsidencePoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coordinates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrependedText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrependedText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fault)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fault)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Strike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strike)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Angle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Angle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Throw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Throw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
